body{
    margin :0px;

}

.s1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url(back.jpg);
    margin: 0px;
    padding: 0px;
    height: 80vh;
}
    
.he{
  padding-left: 15rem;
  padding-top: 5rem;
}
.bit{
    height:500px;
    width: 400px;
    border-radius: 100px;
    padding: 3rem;
      
}
.text{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: "Exo 2";
}
.esd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
    margin-top: 3rem;
    background-color: gainsboro;
}
.ed{
    display: flex;
    justify-content: center;
}
.esd ul{
    list-style: none;
    text-align: center;
}

